/* 字体 */
@font-face {
    font-family: 'element-icons';
    src: url('./src/assets/fonts/element-icons.woff') format('woff'),
        url('./src/assets/fonts/element-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}